<h4>Your Items</h4>
<ul>
    {{#each [0].items}}
        {{#unless this.borrowed}}
            <li>{{this.name}} <button class="deleteItem" id={{this.id}}>Delete</button></li>
        {{/unless}}
    {{/each}}
</ul>
<h4>Items Lent</h4>
<ul>
    {{#each [0].items}}
        {{#if this.borrowed}}
            <li>{{this.name}}</li>
        {{/if}}
    {{/each}}
</ul>

<h1>Items to Borrow</h1>

<select id="borrow" name="category">
    {{#each [1].categories}}
        <option id={{this}}>{{this}}</option>
    {{/each}}
</select>
<button type="submit" id="borrowItem">Submit</button>