<div class="myItems">
    <span class="glyphicon glyphicon-list" aria-hidden="true"></span>
    <h4>Your Items</h4>
    <ul>
        {{#each items}}
            {{#unless borrowed}}
                <li>{{name}} <button class="deleteItem" id={{id}}>Delete</button></li>
            {{/unless}}
        {{/each}}
        {{#each borrowed}}
            <li>{{name}} <button class="returnItem" id={{id}} data-id={{ItemId}}>Return</button></li>
        {{/each}}
    </ul>
</div>

<div class="lentItems">
    <span class="glyphicon glyphicon-calendar" aria-hidden="true"></span>
    <h4>Items Lent</h4>
    <ul>
        {{#each lent}}
            <li>{{name}} lent to: {{userName}}</li>
        {{/each}}
    </ul>
</div>

<div class="borrowItems">
    <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
    <h4>Items to Borrow</h4>
    <select id="borrow" name="category">
        {{#each categories}}
            <option id={{this}}>{{this}}</option>
        {{/each}}
    </select>
    <button type="submit" id="borrowItem">Submit</button>
</div>

