<h4>Your Items</h4>
<ul>
    {{#each items}}
        {{#unless borrowed}}
            <li>{{name}} <button class="deleteItem" id={{id}}>Delete</button></li>
        {{/unless}}
    {{/each}}
    {{#each borrowed}}
        <li>{{name}} <button class="returnItem" id={{id}} data-id={{ItemId}}>Return</button></li>
    {{/each}}
</ul>
<h4>Items Lent</h4>
<ul>
    {{#each lent}}
        <li>{{name}} lent to: {{userName}}</li>
    {{/each}}
</ul>

<h1>Items to Borrow</h1>

<select id="borrow" name="category">
    {{#each categories}}
        <option id={{this}}>{{this}}</option>
    {{/each}}
</select>
<button type="submit" id="borrowItem">Submit</button>